# Enforce Unix newlines
* text=lf

# Exclude unused files
# see: https://redd.it/2jzp6k
/.editorconfig      export-ignore
/.gitattributes     export-ignore
/.gitignore         export-ignore
/composer.lock      export-ignore
/LICENSE.md         export-ignore
/README.md          export-ignore
/tests              export-ignore
/db                 export-ignore
/docker             export-ignore
/docker-compose.yml export-ignore
