<phpunit colors="true" bootstrap="./bootstrap.php">
    <testsuites>
        <testsuite name="Units">
            <directory>Units</directory>
        </testsuite>
    </testsuites>
    <filter>
        <whitelist>
            <directory suffix=".php">../src</directory>
        </whitelist>
    </filter>
</phpunit>